/*
* back - color 0 (dark)
* red - color 1
* green
* yellow 
* blue
* purple
* special grayscale themed
* fore - color 7 (light)
* next 8 are there lighter version or same
*/


@define-color accent        #99994A;
@define-color tooltip-col   #999900;
@define-color main-bg       rgba(20,20,0, 0.8);
@define-color main-fg       #FFFFFF;
@define-color hover-bg      #3D3D00;
@define-color hover-fg      rgba(255,255,255, 0.75);
@define-color outline       rgba(224,224,221, 0.25);

@define-color warning       #FEB157;
@define-color critical      #F92672;
@define-color charging      #82B414;

@define-color accent1        #474745;
@define-color accent2        #3D3D3B;
@define-color accent3        #333332;

@define-color background #010101;
@define-color foreground #FFFFFF;
@define-color color0 #1B1D1E;
@define-color color1 #F92672;
@define-color color2 #82B414;
@define-color color3 #FD971F;
@define-color color4 #4E82AA;
@define-color color5 #8C54FE;
@define-color color6 #465457;
@define-color color7 #CCCCC6;
@define-color color8 #505354;
@define-color color9 #F92672;
@define-color color10 #82B414;
@define-color color11 #FD971F;
@define-color color12 #4E82AA;
@define-color color13 #8C54FE;
@define-color color14 #465457;
@define-color color15 #CCCCC6;
@define-color color_accent #CCCCC6;

